extends ../index.pug

block title
    title Авторизация

block stylesAdd
    link(rel="stylesheet", href="/css/forms.css")


block content
    br
    form(method="POST", action="/auth/login")
        h2 Войти под именем
        div.form-group
            label(for="username") Имя пользователя
            br
            br
            input#username(name="username", type="text", required="required", placeholder="Имя")
        br
        div.form-group
            label(for="password") Пароль
            br
            br
            input#password(name="password", type="password", required="required", placeholder="Ваш пароль")
        br
        div.form-actions
            input.btn.btn-submit(type="submit", value="Войти")
        br
        if flashError
            div.flash-error= flashError        