extends ../index.pug

block title
    title Регистрация

block stylesAdd
    link(rel="stylesheet", href="/css/forms.css")


block content
    br
    form(method="POST", action="/auth/register")
        h2 Регистрация пользователя
        div.form-group
            label(for="username") Имя пользователя
            br
            br
            input#username(name="username", type="text", required="required", placeholder="Ваше Имя")
        br 
        div.form-group
            label(for="password") Пароль
            br
            br
            input#password(name="password", type="password", required="required", placeholder="Ваш пароль")
        br
        div.form-group
            label(for="retype-password") Подтверждение пароля   
            br
            br
            input#retype-password(name="retype-password", type="password", required="required", placeholder="Подтвердите пароль")
        br
        div.form-actions
            input.btn-submit(type="submit", value="Зарегистрироваться")
        br         
        if flashError
            div.flash-error= flashError
