doctype html
html
    head
        block title
            title Добро пожаловать!
            
        meta(charset="utf-8")
        meta(name="viewport" , content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/css/main.css")

        block stylesAdd
        
        body
            header#main-header
                nav#main-nav(role="navigation")
                    h1
                     a(href='/')
                        img.logo(src="/images/logo.png")
                     ul.horizontal-menu
                        if loggedin
                            li.menu-item: a(href="/post/list") Посты
                            = " "
                            li.menu-item: a(href="/post/create") Новый пост
                            = " "
                            li.menu-item: a(href="/auth/logout") Выход
                            = " "
                        else  
                            li.menu-item: a(href="/auth/login")  Вход
                            = " "
                            li.menu-item: a(href="/auth/register") Регистрация


        block content
            


        block footer
        footer.
            &copy; VoidCorp
            <br>
            Все права защищены.