/* form {
    position: fixed;
    top: 15%;
    left: 35%;
    width: 30%;

} */


form {
    margin: 0 auto;
    width: 25%;
    padding: 1em;
    min-width: 255px;
    min-height: 500px;
    border-radius: 3px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
    color: #4385d3;
    box-shadow: 0 8px 6px -6px black;
}

.form-group input {
    width: 50%;
    min-height: 30px;
    border-radius: 3px;
    border: thin solid 1px #666666 ;
    text-transform: uppercase;
    text-align: center;
    outline-color: #4385d3;
}

.form-group input:focus {
    border: thin solid 3px #4385d3; 
}

.form-group #content {
    width: 90%;
    max-width: 95%;
    height: 500px;
    border-radius: 3px;
}
.btn-submit {
    margin: 10px 0 0 0;
    padding: 10px;
    height: 40px;
    min-width: 181px;
    border: #4385d3;
    border-radius: 3px;
    outline: none;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    text-transform: uppercase;
    background-color: #4385d3;
    color: #ffffff;
    cursor: pointer;
    
}

.btn-submit:hover {
    color: #e7e2e2;
    box-shadow: 0 8px 6px -6px black;
}