body {
    margin: 0;
    padding: 0;
    background: #ECEEEF;
   
}

body h1 {
    height: 35px;
    margin: 0px;
    padding: .4em;
    border-bottom: solid  rgba(92, 90, 90, 0.274);
    background-color: #4385d3;
    box-shadow: 0 8px 6px -6px black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
        
}

a {
    position: relative;
    top: -13px;
    left: -10px;
}


footer {
    position: fixed;
    width: 100%;
    left: 0; 
    bottom: 0;
    border-top: thin solid  rgba(92, 90, 90, 0.176);
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 80%;
    text-align: center;
    color: rgba(92, 90, 90, 0.548);
    background-color: #ECEEEF;

}


.horizontal-menu {
    float: right;

}


.horizontal-menu .menu-item {
    display: inline-block;
    vertical-align: middle;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-size: 12px;
    text-transform: uppercase;

}

.horizontal-menu .menu-item a {
    text-decoration: none;
    color: white;

}

.horizontal-menu .menu-item a:hover{
    color: rgb(231, 226, 226);
}