.post-container {
    position: relative;
    top: 20%;
    left: 35%;
    width: 30%;
    margin: 30px 0 30px 0;
    border: solid 1px rgba(92, 90, 90, 0.176);;
    border-radius: 3px;
    word-wrap: break-word;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 8px 6px -6px black;
}

.post-container h3 {
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    color: white;
    background-color: #4385d3;
    box-shadow: 0 8px 6px -6px black;

}

.post-container p {
    padding: 10px;
}

.post-container span {
    font-size: 0.8em;
}

.updateForm {
    display: inline-block;

}

.updateForm input {
    margin: 0 0 5px 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}

.updateForm input:hover {
    box-shadow: 0 8px 6px -6px black;
}