extends ../index.pug

block stylesAdd
    link(rel="stylesheet", href="/css/forms.css")

block title
    title Создать новый пост

block content
    br
    form(method="POST", action="/post/create")
        h2 Создать новый пост
        div.form-group
            label(for="title") Заголовок
            br
            br
            input#title(name="title", type="text", required="required", placeholder="Заголовок")
        br
        |     
        div.form-group
            label(for="content") Содержание
            br
            br
            textarea#content(name="content", required="required")
        br
        |     
        div.form-actions
            input.btn.btn-submit(type="submit", value="Создать")