extends ../index.pug


block title
    title Посты

block stylesAdd
    link(rel="stylesheet", href="/css/post.css")


block content
    if posts.length > 0
        each post in posts
            .post-container
                h3= post.title
                    br
                    span от: 
                    span=  post.username
                    br
                    span= post.date
                p= post.content
                if post.username == username
                    form.updateForm(method ='POST', action=`/post/list/delete/${post.id}?_method=DELETE`)
                        input(type='submit', value='Удалить')
                        span /
                    form.updateForm(method='GET', action=`/post/list/update/${post.id}`)    
                        input(type='submit', value='Редактировать')