extends ../index.pug

block stylesAdd
    link(rel="stylesheet", href="/css/forms.css")

block title
    title Редактировать пост

block content
    br
    form(method="POST", action=`/post/list/update/${posts[0].id}?_method=PUT`)
        h2 Редактрировать пост
        div.form-group
            label(for="title") Заголовок
            br
            br
            input#title(name="title", type="text", required="required", value=`${posts[0].title}`)
        br
        |     
        div.form-group
            label(for="content") Содержание
            br
            br
            textarea#content(name="content", required="required")= posts[0].content 
        br
        |     
        div.form-actions
            input.btn.btn-submit(type="submit", value="Редактировать")